<h1>Movie/TV Header</h1>
<!-- <app-commonpage [dataReceived]="message"></app-commonpage> -->
<!-- <app-commonpage [test]="test"></app-commonpage> -->

<h2>Youtube Player</h2>
<!-- <div>{{preview_video | json}}</div> -->
<!-- <app-youtube></app-youtube> -->
<app-youtube [video_data]="preview_video"></app-youtube>

<h2>Local Storage Button</h2>
<app-local-storage [movie_details]="details"
                   [entity_type]="entity_type"></app-local-storage>

<h2>Movie Contents</h2>
<div>{{holder | json}}</div>
