<!-- IMPORTS -->
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v10.0&appId=446073933115618&autoLogAppEvents=1" nonce="fVr0K0Vo"></script>

<h1>Movie/TV Header</h1>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <app-youtube [video_data]="preview_video"></app-youtube>
    </div>
    <div class="col-sm">
      <app-movie-detail [movie_detail]="details" [entity_type]="entity_type"></app-movie-detail>
    </div>
  </div>
</div>

<div *ngIf="details.overview">
  <h2>Description</h2>
  <div>{{ details.overview }}</div>
</div>

<h2>Share</h2>
<!-- TWITTER SHARE -->
<span style="font-size: 40px">
    <a href={{twitter_share_page}}>
        <fa-icon class="twitter-square" [icon]="twitter_square"></fa-icon>
    </a>
</span>

<!-- FACEBOOK SHARE -->
<span style="font-size: 40px">
    <a href={{fb_share_page}}>
        <fa-icon class="fb-square" [icon]="fb_square"></fa-icon>
    </a>
</span>

<h2>Full Cast & Crew</h2>
<app-cast-list [cast_list]="credits"></app-cast-list>
<!-- <div>{{ credits | json}}</div> -->

<app-movie-reviews [reviews]="reviews"></app-movie-reviews>
<!-- <div>{{ reviews | json }}</div> -->

<div *ngIf="!similar_empty_yn">
    <h2>Similar {{entity_type}}</h2>
    <app-multi-item-carousel [movies_list_raw]="similar"></app-multi-item-carousel>
</div>

<div *ngIf="!recommended_empty_yn">
    <h2>Recommended {{entity_type}}</h2>
    <app-multi-item-carousel [movies_list_raw]="recommended"></app-multi-item-carousel>
</div>

<!-- <h2>Movie Contents</h2>
<div>{{holder | json}}</div> -->
