<div *ngIf="!reviews_empty_yn">
    <h2><br>Reviews&nbsp;&nbsp;<span style="color: rgb(112,118,147)">{{ len_reviews }}</span></h2>

    <div class="container-fluid">
        <div *ngFor="let review of reviews;let i = index" class="card" style="border-radius: 10px; margin: 20px;">
            <div class="card-body" style="margin: 5px;">
                <div class="row">
                    <!-- AVATAR_PATH -->
                    <div class="col-md-2" style="padding-left: 20px;">
                        <img src={{review.avatar_path}} style="max-width: 100px; border-radius: 50%;">
                    </div>

                    <!-- REVIEW CONTENT -->
                    <div class="col-md-8">

                        <!-- HEADER -->
                        <h2 style="font-size: 22px; margin-bottom: 25px; color: black;">A review created by {{review.author}}.
                            <span class="rounded-pill" style="background-color: rgb(0,0,0); color: white; width: 40px">
                                <span style="font-size: 18px; top: 50%">★ {{review.rating}}</span>
                            </span>
                        </h2>

                        <!-- WRITTEN_BY + CREATED_DATE -->
                        <div style="color: rgb(155,150,150)">Written by {{review.author}} on {{written_by_datetime[i]}}</div>

                        <!-- CONTENT -->
                        <div class="truncate-overflow" style="color: black;"><br>{{review.content}}</div>

                        <!-- 'READ THE REST' -->
                        <div>
                            <a href={{review.url}}><br>Read the rest</a>
                        </div>

                    </div>
                </div>
            </div>
        
        </div>
    </div>
</div>


