<div class="container-fluid">
    <div class="row flex-row flex-nowrap" style="overflow-y: hidden;">
        <div class="card border-0" *ngFor="let cast of cast_list" (click)="openCastModal($event)" style="text-align: center; max-width: 220px; margin: 5px; padding: 0px; color: black;">
            <img id={{cast.id}} class="card-img-bottom" src={{cast.profile_path}}>
            <p class="card-body" style="padding: 10px; margin: 0px">
                <span><B>{{ cast.name }}</B></span><br>
                <span *ngIf="cast.character"><B>AS</B><br> 
                    <span>{{ cast.character }}</span>
                </span>
            </p>
        </div>
    </div>
</div>