<head>
<style>
:host ::ng-deep img {
    /* width: 750px; */
    resize: both;
    max-width: 1000px;
}

ngb-carousel .picsum-img-wrapper {
  position: relative;
  height: 0;
  padding-top: 55%; /* Keep ratio for 900x500 images */
}

ngb-carousel .picsum-img-wrapper>img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* width: 750px; */
}
</style>
</head>

<h1>Home Header</h1>

<div>
    <a routerLink="/watch/movie/155">Movie Link</a><br>
    <a routerLink="/watch/tv/155">TV Link</a><br>
</div>

<h2>Currently Playing (Links) Works</h2>
<ngb-carousel>
    <ng-template ngbSlide *ngFor="let movie of movies">
        <div *ngIf="movie.id" class="id">{{movie.id}}</div>

        <div class="picsum-img-wrapper" (click)="testFx($event)">
            <img id={{movie.id}} [src]="movie.backdrop_path">
        </div>
        <div class="carousel-caption">
            <h3>{{ movie.name }}</h3>
        </div>
    </ng-template>
</ngb-carousel>

<h2>All Data</h2>
<div>{{holder | json}}</div>