<head>
<style>
:host ::ng-deep img {
    /* width: 750px; */
    resize: both;
    max-width: 1000px;
}

ngb-carousel .picsum-img-wrapper {
  position: relative;
  height: 0;
  padding-top: 55%; /* Keep ratio for 900x500 images */
}

ngb-carousel .picsum-img-wrapper>img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* width: 750px; */
}
</style>
</head>

<h1>Home Header</h1>

<div>
    <a routerLink="/watch/movie/155">Movie Link</a><br>
    <a routerLink="/watch/tv/155">TV Link</a><br>
</div>

<h2>Currently Playing</h2>
<!-- <div>{{movies_now_playing | json}}</div> -->

<h2>Carousel Test 1</h2>
<tr *ngFor="let movie of movies">
    <td>{{ movie.id }} {{ movie.name }} {{ movie.backdrop_path }}</td>
</tr>

<h2>Carousel Test 2</h2>
<!-- <ngb-carousel *ngFor="let movie of movies">
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img [src]="movie.backdrop_path">
            </div>
            <div class="carousel-caption">
                <h3>{{ movie.name }}</h3>
            </div>
        </ng-template>
</ngb-carousel>  -->

<ngb-carousel>
    <ng-template ngbSlide *ngFor="let movie of movies">
        <div class="picsum-img-wrapper">
            <img [src]="movie.backdrop_path">
        </div>
        <div class="carousel-caption">
            <h3>{{ movie.name }}</h3>
        </div>
    </ng-template>
</ngb-carousel>

<div>{{holder | json}}</div>