<ngb-carousel [interval]="0">
    <ng-template ngbSlide *ngFor="let group of slides">
        <div class="container-fluid">
            <!-- RESIZE BASED ON CALLER TYPE : TESTING -->
            <div class="row justify-content-center">
                <div class="col-sm-2 card border-0" [ngClass]="primary_page_yn ? 'primary-card' : 'secondary-card'" style="border-radius: 10px;"
                    *ngFor="let card of group" (click)="gotoMovieTvPage($event)">
                    <img class="card-img-top" style="width:200px; border-radius: 10px;" src="{{card.poster_path}}">
                    <div class="card-img-overlay d-flex flex-column" id={{card.entity_type}}-{{card.id}} 
                        [ngClass]="primary_page_yn ? 'overlay-primary' : 'overlay-secondary'">
                        <h5 id={{card.entity_type}}-{{card.id}} class="card-title mt-auto" style="color:white; bottom: 0;">{{card.name}}</h5>
                    </div>
                </div>
            </div>

        </div>
    </ng-template>
</ngb-carousel>
