<ng-template #rt let-r="result" let-t="term" style="height: 100px;">
  <img [src]="r['backdrop_path']" class="mr-1" style="width: 80px">
  <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
</ng-template>

<input class="search-box" id="typeahead-template" type="text" style="background-color: rgb(5,8,51); color: white;"
  class="form-control" 
  [(ngModel)]="model" 
  [ngbTypeahead]="search" 
  [resultTemplate]="rt"
  [inputFormatter]="formatter" 
  placeholder="Search"
  (selectItem)="selectedItem($event)"
  />
