<p>local-storage works!</p>
<button type="button" data-toggle="button" class="btn btn-primary" 
        (click)="putMovie('movie', 'DarkKnight', 'object')">Add Movie</button><br>

<button type="button" class="btn btn-primary" 
        (click)="removeMovie('movie', 'DarkKnight', 'object')">Remove Movie</button><br>

<button type="button" class="btn btn-primary" 
        (click)="clearWatchList()">Clear</button><br>

<button id="button" type="button" class="btn btn-primary" 
        (click)="changeLabelName()">Add to Watchlist</button><br>