<p>local-storage works!</p>

<button type="button" class="btn btn-primary" 
        (click)="clearWatchList()">Clear</button><br>

<!-- <button id="button" type="button" class="btn btn-primary" 
        (click)="changeLabelName()">Add to Watchlist</button><br> -->

<!-- <button id="button-2" type="button" class="btn btn-primary" 
        (click)="checkForCurrentMovie()">In Watchlist?</button><br> -->

<!-- <button id="button-3" type="button" class="btn btn-primary" 
        (click)="putMoviev2()">Add Movie v2</button><br> -->

<!-- <button id="button-4" type="button" class="btn btn-primary" 
        (click)="removeMoviev2()">Remove Movie v2</button><br> -->

<button id="button-5" type="button" class="btn btn-primary"
        (click)="finalButton()">{{ button_text }}</button><br>
